body {
  font-family: Arial, sans-serif;
  background-color: #2e495e;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #1b3648;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-height: 20vh;
}

.container {
  text-align: center;
  padding: 20px;
  max-width: 800px;
}

.features {
  width: max-content;
  margin: 20px 0;
  padding: 20px;
  background-color: #1b3648;
  border-radius: 10px;
}

.features h2 {
  font-size: 28px;
}

.features ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.features li {
  font-size: 18px;
  margin: 10px 0;
}

.download {
  margin: 20px 0;
}

.download a {
  text-decoration: none;
  color: #cab8a9;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
}

.download img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.purchase {
  margin: 20px 0;
}

.purchase button {
  background-color: #cab8a9;
  color: #1b3648;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.purchase button:hover {
  background-color: #d6c1b5;
}

.purchase p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
