html,
body {
  width: 100%;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1rem 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 1rem;
  background-color: #fef4de;
  color: #433647;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

header {
  background-color: #f5886e;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

header img {
  max-height: 8rem;
}

.container {
  text-align: center;
  max-width: min(75vw, 1024px);
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .container {
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
  }
}

.slogan {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

/* FEATURES */
.features {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  background-color: #f5886e;
  border-radius: 1rem;
  box-sizing: border-box;
}

.features ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

/* VIDEO DEMOS */
.video-demos {
  margin-top: 2rem;
  width: 100%;
}

.video-list {
  position: relative; /* Để các nút swipe-button nằm trong phần này */
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: auto;
  background-color: #f5886e;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide demo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fef4de;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  flex: 0 0 auto;
  width: calc(
    100% / 3 - 1.2rem
  ); /* Adjust the width based on the number of slides per view */
  margin: 0 0.6rem;
}

.swiper-slide demo-item video {
  width: 100%;
  height: 12rem; /* Set a fixed height for the videos */
  margin-bottom: 0.6rem;
  border-radius: 0.5rem;
  object-fit: contain; /* Ensure the video covers the entire area */
}

.swiper-slide demo-item h4 {
  margin: 0.8rem 0;
  color: #433647;
}

.swiper-slide demo-item p {
  margin: 0.8rem 0;
  text-align: center;
  max-width: 100%;
  color: #433647;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.swiper-button-next,
.swiper-button-prev {
  color: #fef8eb !important;
  position: absolute;
  top: 50%; /* Align the buttons vertically within the video-demos section */
  transform: translateY(-50%);
  z-index: 10; /* Ensure the buttons are above other elements */
}

.swiper-button-next {
  right: 0.6rem; /* Position the next button inside the video-demos section */
}

.swiper-button-prev {
  left: 0.6rem; /* Position the prev button inside the video-demos section */
}

.swiper-pagination-bullet {
  background: #fef8eb !important;
}

@media (max-width: 768px) {
  .swiper-slide demo-item {
    width: calc(100% / 2 - 1.2rem); /* Adjust the width for mobile view */
  }

  .swiper-slide demo-item video {
    min-width: 10rem; /* Set a minimum width for the videos */
  }
}

@media (max-width: 480px) {
  .swiper-slide demo-item {
    width: 100%; /* Adjust the width for smaller mobile view */
    margin: 0; /* Remove margin to fit the container */
  }

  .swiper-slide demo-item video {
    min-width: 100%; /* Ensure the video takes full width of the slide */
  }
}

.video-demos .view-more {
  box-sizing: border-box;
  text-align: center;
}

.video-demos .view-more a {
  min-width: 6rem;
  text-align: center;
  text-decoration: none;
  margin: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fef8eb;
  border: 1px solid #433647;
  color: #433647;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.view-more a:hover {
  color: #f5886e;
}

/* DOWNLOAD */
.download {
  padding: 1rem 1rem 0 1rem;
  box-sizing: border-box;
}

.download a {
  min-width: 6rem;
  text-align: center;
  text-decoration: none;
  margin: 0.5rem;
  display: inline-flex;
  align-items: center;
  background-color: #fef8eb;
  border: 1px solid #433647;
  color: #433647;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.download img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.download a:hover {
  color: #f5886e;
}

/* PURCHASE */
.purchase {
  padding: 1rem 1rem 0 1rem;
  box-sizing: border-box;
}

.purchase a {
  min-width: 6rem;
  text-align: center;
  text-decoration: none;
  margin: 0.5rem;
  display: inline-flex;
  align-items: center;
  background-color: #fef8eb;
  border: 1px solid #433647;
  color: #433647;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.purchase a:hover {
  color: #f5886e;
}

.purchase img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.footer {
  margin-top: 1rem;
  background-color: #f5886e;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
